body{
    background-color: gray;
  }
  #header{
    text-align: center;
  }
  #Yaradua-history{
    text-align: justify;
  }
  .image{
    display: block;
    max-width: 100%;
    height: auto;;
  }
  